.mainForm {
    background-color: #D6F4FA;
    width: 652px;
    padding: 62px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 7px;
}

.logoIcon {
    height: 33.378px;
}

.title {
    color: var(--dark, #090F24);
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38.926px;

    width: 258px;
    margin: 0;
}

.subtitle {
    color: #1B5F6B;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.804px;

    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

.formInput {
    color: var(--gray-3, #B7B8C5);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 526px;
    height: 42px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid var(--blue, #74CCD8);
    background: var(--white, #FFF);
    margin-bottom: 12px;
}

.formText {
    resize: none;
    min-height: 130px;
    padding-top: 11.5px;
    border-radius: 20px;
    margin-bottom: 6px;
}

.requiredFields {
    color: #427781;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.603px;
    margin: 0;
}

.rulesChecked {
    color: var(--dark, #090F24);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.703px;
    letter-spacing: -0.364px;

    display: flex;
    column-gap: 9px;
}

.rulesCheckedBold {
    font-weight: 600;
}

.checkbox {
    margin: 0;
}

.formButton {
    display: flex;
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 0px;
    border-radius: 30px;
    background: var(--blue, #74CCD8);
    box-shadow: 0px 2px 4px 0px rgba(51, 196, 223, 0.20);

    margin-top: 14px;
}

.formButtonTitle {
    color: var(--white, #FFF);
    font-family: Noto Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    margin: 0;
}