.formInput {
    color: var(--dark, #090F24);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 526px;
    height: 42px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid var(--blue, #74CCD8);
    background: var(--white, #FFF);
}

.formText {
    resize: none;
    min-height: 130px;
    padding-top: 11.5px;
    border-radius: 20px;
}

.errorBorder {
    border: 1px solid red;
}

.errorContainer {
    height: 15px;
}

.errorActive {
    display: flex;
    color: red;
    font-size: 10px;
    height: 15px;
    padding-left: 21.5px;
}