.header {
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 650px;
}

.babyImg {
    position: relative;
    width: 50%;
    height: auto;
}

.formIcon {
    position: absolute;
    z-index: 3;
    top: 436px;
    left: 538px;
}

.semiCircle {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(0, -50%);
    background-color: #D6F4FA;

    width: 200%;
    height: 450%;
    border-radius: 100%;

    z-index: 1;
}